<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">

  <meta charset="UTF-8">
  <title>Assignments</title>

  <link rel='stylesheet' href='../../../assets/css/vendors/bootstrap/dist/css/bootstrap.min.css'/>
  <link rel='stylesheet' href="../styleForHomePage.css">
</head>


<body>
<!--The banner-->
<div class="topnav" id="myTopnav">

  <a href="home.component.html">Home</a>

  <a href="../Assignments/assignments.html">Assignments</a>


</div>

<!--This is the content below the banner-->


<div class="container topMargin">

  <h4>
    <a href="../../../assets/index.html">Assignment 2</a>
  </h4>


</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


</body>


</html>

