<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Login</title>
  <link rel='stylesheet' href='../../css/vendors/bootstrap/dist/css/bootstrap.min.css'/>
  <link rel='stylesheet' href="../../css/styles.css">


</head>

<body>


<div class="container-fluid">
  <h1 class="top-margin"> Login </h1>
  <input class='form-control'
         placeholder="username"
         type="text"
         id="username">
  <input class=form-control
         placeholder="password"
         type="password"
         id="password"
  />
  <a class='btn btn-primary btn-block'
     href=profile.html>
    Login
  </a>
  <a class='btn btn-success btn-block'
     href=register.html>
    Register
  </a>
</div>


</body>

</html>
