
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--return mark-->
    <div class="navbar-brand pull-left">
      <a href="../page/page-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left blackText"></span>
      </a>
    </div>


    <!--heading on the nav bar-->
    <div class="pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </div>

    <!--add new widget mark-->
    <div class="navbar-text pull-right">
      <a (click)="navigateToWidgetChooser()" class="navbar-link">
        <span class="glyphicon glyphicon-plus blackText"></span>
      </a>
    </div>
  </div>
</nav>

<!--Below the banner-->
<div class="container-fluid top-margin bottomPadding">
  <div *ngFor="let widget of outputWidgetsForThisPage()" class = 'borderless'>
    <div [ngSwitch]="widget.widgetType">
      <!--HEADER CASE-->
      <div *ngSwitchCase="'HEADING'" class = "moh-widget bottomPadding">
        <div class="pull-right moh-glyph-toolbar">
          <span (click)="navigateToWidget(widget._id)" class="glyphicon glyphicon-cog"></span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div [ngSwitch]="widget.size">
          <div *ngSwitchCase="6">
            <h1>{{widget.text}}</h1>
          </div>
          <div *ngSwitchCase="5">
            <h2>{{widget.text}}</h2>
          </div>
          <div *ngSwitchCase="4">
            <h3>{{widget.text}}</h3>
          </div>
          <div *ngSwitchCase="3">
            <h4>{{widget.text}}</h4>
          </div>
          <div *ngSwitchCase="2">
            <h5>{{widget.text}}</h5>
          </div>
          <div *ngSwitchCase="1">
            <h6>{{widget.text}}</h6>
          </div>
        </div>
      </div>
      <!--IMAGE CASE-->
      <div *ngSwitchCase="'IMAGE'" class = "moh-widget bottomPadding">
        <div class="pull-right moh-glyph-toolbar">
          <img width={{widget.width}}
               src="{{widget.url}}">
          <a href="widget-image.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <img src="{{widget.url}}"
             width = widthOfWidget(widget._id)>
        <!--Come back and make this Width Dynamic-->
      </div>
      <!--YOUTUBE CASE-->
      <div *ngSwitchCase="'YOUTUBE'" class = "moh-widget bottomPadding">
        <div class="pull-right moh-glyph-toolbar">
          <a href="widget-youtube.html">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div class = "videoWrap">
          <iframe width="560" height="315" [src]="cleanThisUrl(widget.url)"
                  frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <!--HTML CASE-->
      <div *ngSwitchCase="'HTML'" class = "moh-widget bottomPadding">
        <div class="pull-right moh-glyph-toolbar">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <p>{{widget.text}}</p>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a href="../user/profile.html">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>
    </div>
  </nav>

</div>
