<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid bg-primary">

    <!--return mark-->
    <div class="navbar-text pull-left">
      <a (click)="returnToProfile()" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left whiteText"></span>
      </a>
    </div>


    <!--heading on the nav bar-->
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="whiteText small-indent">Websites</b>
      </a>
    </div>


    <!--add new website mark-->
    <div class="navbar-text pull-right">
      <a class="navbar-link">
        <span (click)="navigateToWebsiteNew()" class="glyphicon glyphicon-plus whiteText"></span>
      </a>
    </div>
  </div>
</nav>

<!--Below the banner-->
<div class="container-fluid top-margin">
  <div *ngFor="let website of outputWebsitesForThisUser()" class = 'borderless'>
    <li class="list-group-item">
      <a (click)="navigateToPage(website._id)">
        {{website.name}}
      </a>
      <a>
        <span (click)="navigateToWebsiteEdit(website._id)" class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <div class="navbar-text pull-right">
      <span (click)="returnToProfile()" class="glyphicon glyphicon-user whiteText"></span>
    </div>
  </div>
</nav>
