<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <!--the left column-->
    <!--right column-->
    <div class="container-fluid">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <div class="navbar-brand pull-left fixed">
          <a class="navbar-link">
            <span (click)="returnToPreviousSite()" class="glyphicon glyphicon-chevron-left blackText"></span>
          </a>
        </div>
        <a class="navbar-brand thick">
          <b class="indent">Widget Edit</b>
        </a>
      </div>
      <!--Presumably in a future assignment,
      I will edit this glyphicon to add the result.-->
      <a class="navbar-link navbar-text pull-right fixed">
        <span (click)="updateWidgetTEXT(rows, placeholder, text, formatted)"
              class="glyphicon glyphicon-ok blackText"></span>
      </a>
    </div>
  </div>
</nav>

<!--Below the BANNER-->
<div class="bottomPadding moh-max-height moh-Margin-For-Two-Columns">
  <div class="row moh-max-height">
    <div class="paddingWithNoTop small-top-Margin form-control">
      <label>Widget Type</label>
      <input class="form-control"
             type = "text"
             placeholder="Name of Widget"
             value = {{widget.widgetType}}>
      <label>Text</label>
      <input class="form-control"
             type="text"
             id="text"
             placeholder="Text regarding Widget"
             [(ngModel)] ="text" name ="text">
      <label>Rows</label>
      <input class="form-control"
             type="number"
             id="rows"
             placeholder="Number of Rows (e.g. 4)"
             [(ngModel)] ="rows" name ="rows">
      <label>Placeholder</label>
      <input class="form-control"
             type="text"
             id="placeholder"
             placeholder="placeholder"
             [(ngModel)] ="placeholder" name ="placeholder">
      <label>Formatted</label>
      <div class="input-group">
        <input type="text"
               readonly
               value="Formatted"
               class="form-control"/>
        <span class="input-group-addon">
     <input [(ngModel)]="formatted"
            type="checkbox" name = "formatted" id = "formatted"/>
 </span>
      </div>
      <a class="btn btn-danger btn-block"
         (click)="deleteThisWidget(widgetID)">Delete</a>


    </div>
  </div>
</div>
