<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <!--the left column-->
    <!--right column-->
    <div class = "container-fluid">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <div class="navbar-brand pull-left fixed">
          <a class="navbar-link">
            <span (click)="returnToPreviousSite()" class="glyphicon glyphicon-chevron-left blackText"></span>
          </a>
        </div>
        <a class="navbar-brand thick">
          <b class="indent">Widget Edit</b>
        </a>
      </div>
      <!--Presumably in a future assignment,
      I will edit this glyphicon to add the result.-->
      <a class="navbar-link navbar-text pull-right fixed">
        <span (click)="updateWidgetTEXT(widgetID, widget.rows, widget.placeholder, text, widget.formatted)" class="glyphicon glyphicon-ok blackText"></span>
      </a>
    </div>
  </div>
</nav>

<!--Below the BANNER-->

Text
<input [(ngModel)]="widget.text" class="form-control"/>

Rows
<input [(ngModel)]="widget.rows" class="form-control" type="number"/>
<label for="Name">Name</label>
<div>
  <input [(ngModel)]="widget.widgetType"
         type="text"
         class="form-control"
         id="Name"
         name="name"
         placeholder="Name">
</div>

Placeholder
<input [(ngModel)]="widget.placeholder" class="form-control" required/>
<p></p>
<div class="input-group">
  <input type="text"
         readonly
         value="Formatted"
         class="form-control"/>
  <span class="input-group-addon">
     <input [(ngModel)]="widget.formatted"
            type="checkbox"/>
 </span>
</div>
