<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid bg-primary">

    <!--heading on the nav bar-->
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="whiteText">Profile</b>
      </a>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a class="navbar-link">
        <span (click)="updateProfile(username,email,firstName,lastName)"
              class="glyphicon glyphicon-ok whiteText">
        </span>
      </a>
    </div>
  </div>
</nav>

<div class="container top-margin">
  <form>
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text"
             class="form-control"
             id="username"
             placeholder="User Name"
             [(ngModel)]="username" name="username">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email"
             class="form-control"
             id="email"
             placeholder = "email@address.com"
             [(ngModel)]="email" name="email">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text"
             class="form-control"
             id="first-name"
             placeholder="First Name"
             [(ngModel)]="firstName" name="firstName">
    </div>
  </form>
  <form>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text"
             class="form-control"
             id="last-name"
             placeholder="Last Name"
             [(ngModel)]="lastName" name="lastName">
    </div>
  </form>
  <button class = "btn btn-primary btn-block"
          (click)="navigateToUsersWebsite()">
    Websites
  </button>
  <a class="btn btn-danger btn-block "
     [routerLink]="['/login']">Logout</a>
  <button class = "btn btn-danger btn-block"
          (click)="terminateAccount()">
    Terminate Account
  </button>
</div>

<!--NEED TO COME BACK TO THIS-->
<!--Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <p class="navbar-text pull-right">
      <!--"[routerLink] = "['user/", :uid']">-->
        <span (click)="returnToProfile()" class="glyphicon glyphicon-user whiteText"></span>
    </p>
  </div>
</nav>

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
  <!--<div class="container-fluid bg-primary">-->
    <!--<div class="navbar-text pull-right">-->
      <!--<span (click)= reload() class="glyphicon glyphicon-user whiteText"></span>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
