<div class="container-fluid">
  <h1 class="top-margin"> Login </h1>
  <input class='form-control'
         [(ngModel)] = "username"
         placeholder="username"
         type="text"
         id="username">
  <input class=form-control
         [(ngModel)] = "password"
         placeholder="password"
         type="password"
         id="password"
  />
  <button class = 'btn btn-primary btn-block'
            (click)="login(username,password)">Login</button>
  <a class='btn btn-success btn-block'
     [routerLink]="['register']">
    Register
  </a>
</div>
