input {
   margin-bottom: 5px;
 }

textarea {
  margin-bottom: 5px;
}

.top-margin {
  margin-top: 60px;
}

.whiteText {
  color: white;
}

.blackText {
  color: black;
}

.blueText {
  color: blue;
}

.glyphicon-plus {
  font-size: 12px;
}

.borderless .list-group-item {
  border: 0 none;
}

.small-indent {
  padding-left: 15px;
}
.indent {
  padding-left: 20px;
}

.right-divider {
  border-right: 1px solid;
}

.paddingWithNoTop {
  padding-right: 65px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.paddingLeft {
  padding-left: 15px;
}

.bottomPadding {
  padding-bottom: 50px;

}
