<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid bg-primary">

    <!--the left column-->
    <div class="col-sm-3">
      <div class="navbar-brand pull-left fixed">
        <a href="website-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left whiteText"></span>
        </a>
      </div>

      <a class="navbar-brand thick hidden-xs">
        <b class="whiteText">Websites</b>
      </a>
      <div class="navbar-brand pull-right hidden-xs">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a (click)="navigateToWebsiteNew()" class="navbar-link fixPlease">
          <span class="glyphicon glyphicon-plus whiteText"></span>
        </a>
      </div>
    </div>

    <!--right column-->
    <div class="col-sm-9">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <a class="navbar-brand thick">
          <b class="indent whiteText">Edit Website</b>
        </a>
      </div>
      <div class="navbar-brand pull-right">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a (click)="navigateToUsersWebsite()" class="navbar-link">
         <span (click)="updateWebsite(website._id, name, description)"
               class="glyphicon glyphicon-ok whiteText">
        </span>
        </a>
      </div>
    </div>
  </div>
</nav>

<!--(click)="updateWebsite(website._id, name, description)"-->

<!--This is everything below the banner-->
<div class="bottomPadding moh-max-height moh-Margin-For-Two-Columns">
  <div class="row moh-max-height">
    <!--Content on the Left-->
    <div class="col-sm-3 hidden-xs moh-right-divider moh-max-height">
      <div class = "paddingLeft small-top-Margin">
        <div *ngFor="let website of outputWebsitesForThisUser()" class = 'borderless'>
          <li class="list-group-item">
            <a routerLink="['']">
              {{website.name}}
            </a>
            <span (click)="navigateToWebsiteEdit(website._id)" class="glyphicon glyphicon-cog pull-right"></span>
          </li>
        </div>
      </div>
    </div>
    <!--Content on the Right, Main Column.-->
    <div class="list-group borderless paddingLeft">
      <div class="col-sm-9 paddingWithNoTop small-top-Margin">
      <label>Name</label>
      <div>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Name"
               [(ngModel)]="name" name="name">
      </div>
      <label>Description</label>
      <textarea class="form-control"
                rows = "4"
                type="text"
                [(ngModel)] ="description" description ="description">
      </textarea>
      <a class="btn btn-danger btn-block"
         href="website-list.html">delete</a>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let website of outputWebsitesForThisUser()" class = 'borderless'>
  <li class="list-group-item">
    <a routerLink="['']">
      {{website.name}}
    </a>
    <span (click)="navigateToWebsiteEdit(website._id)"class="glyphicon glyphicon-cog pull-right"></span>
  </li>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <p class="navbar-text pull-right">
      <a (click)="returnToProfile()">
        <span class="glyphicon glyphicon-user whiteText"></span>
      </a>
    </p>

  </div>
</nav>

