<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">

    <!--the left column-->
    <div class="col-sm-3">
      <div class="navbar-brand pull-left fixed">
        <a (click)="returnToPreviousPage()" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left blackText"></span>
        </a>
      </div>

      <a class="navbar-brand thick hidden-xs">
        <b>Pages</b>
      </a>
      <div class="navbar-brand pull-right hidden-xs">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a (click)="navigateToCreateNewPage()" class="navbar-link fixPlease">
          <span class="glyphicon glyphicon-plus blackText"></span>
        </a>
      </div>
    </div>

    <!--right column-->
    <div class="col-sm-9">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <a class="navbar-brand thick">
          <b class="indent">New Page</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a (click)="createNewPage(name, description)" class="navbar-link">
          <span class="glyphicon glyphicon-ok blackText"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="bottomPadding moh-max-height moh-Margin-For-Two-Columns">
  <div class="row moh-max-height">
    <!--Content on the Left-->
  <div class="col-sm-3 hidden-xs moh-right-divider moh-max-height">
    <div class="paddingLeft small-top-Margin">
      <div *ngFor="let page of outputPagesForThisUser(userId)" class = 'borderless'>
        <li class="list-group-item">
          <a (click)="navigateToWidget(page._id)">
            {{page.name}}
          </a>
          <span (click)="navigateToPageEdit(page._id)" class="glyphicon glyphicon-cog pull-right"></span>
        </li>
      </div>
    </div>
  </div>
  <!--Content on the Right, Main Column.-->
  <div class="col-sm-9 paddingWithNoTop small-top-Margin">
    <label>Name</label>
    <input class="form-control" type = "text"
           id = "name"
           placeholder="Page Name"
           [(ngModel)]="name" name = "name">
    <label>Description</label>
    <input class="form-control" type = "text"
           id = "description"
           placeholder="Page Title"
           [(ngModel)]="description" name = "description">
    <a class="btn btn-danger btn-block"
       (click)="returnToPreviousPage()">Cancel</a>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="returnToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
