<!--&lt;!&ndash;The banner&ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
  <!--<div class="row container-fluid">-->

    <!--&lt;!&ndash;the left column&ndash;&gt;-->
    <!--<div class="col-sm-3">-->
      <!--<div class="navbar-brand pull-left fixed">-->
        <!--<a (click)="returnToPreviousPage()" class="navbar-link">-->
          <!--<span class="glyphicon glyphicon-chevron-left blackText"></span>-->
        <!--</a>-->
      <!--</div>-->

      <!--<a class="navbar-brand thick hidden-xs">-->
        <!--<b>Pages</b>-->
      <!--</a>-->
      <!--<div class="navbar-brand pull-right hidden-xs">-->
        <!--<a (click)="navigateToCreateNewPage()" class="navbar-link fixPlease">-->
          <!--<span class="glyphicon glyphicon-plus blackText"></span>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;right column&ndash;&gt;-->
    <!--<div class="col-sm-9">-->
      <!--&lt;!&ndash;heading on the nav bar&ndash;&gt;-->
      <!--<div class="navbar-header pull-left ">-->
        <!--<a class="navbar-brand thick">-->
          <!--<b class="indent">Edit Page</b>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="navbar-text pull-right">-->
        <!--&lt;!&ndash;Presumably in a future assignment,-->
        <!--I will edit this glyphicon to add the result.&ndash;&gt;-->
        <!--<a (click)="updatePage(page._id, name, description)" class="navbar-link">-->
          <!--<span class="glyphicon glyphicon-ok blackText"></span>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
