<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--return mark-->
    <div class="navbar-brand pull-left">
      <a (click)="navigateToUsersWebsite()" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left blackText"></span>
      </a>
    </div>


    <!--heading on the nav bar-->
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="small-indent">Pages</b>
      </a>
    </div>

    <!--add new page mark-->
    <div class="navbar-text pull-right">
      <a (click)="navigateToCreateNewPage()" class="navbar-link">
        <span class="glyphicon glyphicon-plus blackText"></span>
      </a>
    </div>
  </div>
</nav>

<!--Below the banner-->
<div class="container-fluid top-margin">
    <div *ngFor="let page of outputPagesForThisUser(userId)" class = 'borderless'>
      <li class="list-group-item">
        <a (click)="navigateToWidget(page._id)">
          {{page.name}}
        </a>
        <span (click) ="navigateToPageEdit(page._id)" class="glyphicon glyphicon-cog pull-right"></span>
      </li>
    </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="returnToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

