<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">

  <meta charset="UTF-8">
  <title>Edit Page</title>

  <link rel='stylesheet' href='../../css/vendors/bootstrap/dist/css/bootstrap.min.css'/>
  <link rel='stylesheet' href="../../css/styles.css">
</head>


<body>
<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">

    <!--the left column-->
    <div class="col-sm-3">
      <div class="navbar-brand pull-left fixed">
        <a href="page-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left blackText"></span>
        </a>
      </div>

      <a class="navbar-brand thick hidden-xs">
        <b>Pages</b>
      </a>
      <div class="navbar-brand pull-right hidden-xs">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a href="page-new.html" class="navbar-link fixPlease">
          <span class="glyphicon glyphicon-plus blackText"></span>
        </a>
      </div>
    </div>

    <!--right column-->
    <div class="col-sm-9">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <a class="navbar-brand thick">
          <b class="indent">Edit Page</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a href="page-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-ok blackText"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<!--This is the content below the banner-->
<!--This is the content below the banner-->

<div class="bottomPadding moh-max-height moh-Margin-For-Two-Columns">
  <div class="row moh-max-height">
    <!--Content on the Left-->
    <div class="col-sm-3 hidden-xs moh-right-divider moh-max-height">
      <ul class="list-group borderless paddingLeft small-top-Margin">
        <li class="list-group-item">
          <a href="../widget/widget-list.html" class="blackText">
            Blog Post
          </a>
          <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../widget/widget-list.html" class="blackText">
            Blogs
          </a> <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
        </a>
        </li>
        <li class="list-group-item">
          <a href="../widget/widget-list.html" class="blackText">
            Home
          </a>
          <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../widget/widget-list.html" class="blackText">
            About
          </a>
          <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../widget/widget-list.html" class="blackText">
            Contact Us
          </a>
          <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
          </a>
        </li>
      </ul>
    </div>
    <!--Content on the Right, Main Column.-->
    <div class="col-sm-9 paddingWithNoTop small-top-Margin">
      <label>Name</label>
      <input class="form-control" type = "text"
             value="Page Name">
      <label>Description</label>
      <textarea class="form-control"
                type ="text">This is the corresponding page info</textarea>
      <a class="btn btn-danger btn-block"
         href="page-list.html">delete</a>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


</body>


</html>

