<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">

  <meta charset="UTF-8">
  <title>Pages</title>

  <link rel='stylesheet' href='../../css/vendors/bootstrap/dist/css/bootstrap.min.css'/>
  <link rel='stylesheet' href="../../css/styles.css">
</head>


<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--return mark-->
    <div class="navbar-text pull-left">
      <a href="../website/website-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left blackText"></span>
      </a>
    </div>


    <!--heading on the nav bar-->
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="small-indent">Pages</b>
      </a>
    </div>


    <!--add new page mark-->
    <div class="navbar-text pull-right">
      <a href="page-new.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus blackText"></span>
      </a>
    </div>
  </div>
</nav>


<div class="container-fluid top-margin">
  <ul class="list-group borderless">
    <li class="list-group-item">
      <a href = "../widget/widget-list.html" class = "blackText">
        Blog Post
      </a>
      <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
      </a>
    </li>
    <li class="list-group-item">
      <a href = "../widget/widget-list.html" class = "blackText">
        Blogs
      </a>      <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
      </a>
    </li>
    <li class="list-group-item">
      <a href = "../widget/widget-list.html" class = "blackText">
          Home
      </a>
      <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
      </a>
    </li>
    <li class="list-group-item">
      <a href = "../widget/widget-list.html" class = "blackText">
        About
      </a>
      <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
      </a>
    </li>
    <li class="list-group-item">
      <a href = "../widget/widget-list.html" class = "blackText">
        Contact Us
      </a>
      <a href="page-edit.html">
        <span class="glyphicon glyphicon-cog pull-right">
        </span>
      </a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>


</body>


</html>

