
<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">

    <!--Glyphicon Return Column-->
    <!--the left column-->
    <div class="col-sm-3">

      <div class="navbar-brand pull-left fixed">
        <a (click)="returnToPreviousSite()" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left blackText"></span>
        </a>
      </div>

      <a class="navbar-brand thick hidden-xs">
        <b>Widgets</b>
      </a>
      <div class="navbar-text pull-right hidden-xs">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a (click)="navigateToWidgetChooser()" class="navbar-link fixPlease">
          <span class="glyphicon glyphicon-plus blackText"></span>
        </a>
      </div>
    </div>

    <!--right column-->
    <div class="col-sm-9">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <a class="navbar-brand thick">
          <b class="indent">Widget Edit</b>
        </a>
      </div>
      <div class="navbar-brand pull-right">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a class="navbar-link">
          <span (click)="updateWidgetYoutube(text, width, url)" class="glyphicon glyphicon-ok blackText"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<!--This is the content below the banner-->

<div class="bottomPadding moh-max-height moh-Margin-For-Two-Columns">
  <div class="row moh-max-height">
    <!--Content on the Left-->
    <div class="col-sm-3 hidden-xs moh-right-divider moh-max-height">
      <ul class="list-group borderless">
        <li class="list-group-item">
          <a (click)="createNewWidget('HEADING')">
            Header
          </a>
        </li>
        <li class="list-group-item">
          <a>
            Label
          </a>
        </li>
        <li class="list-group-item">
          <a (click)="createNewWidget('HTML')">
            HTML
          </a>
        </li>
        <li class="list-group-item">
          <a>
            Text Input
          </a>
        </li>
        <li class="list-group-item">
          <a>
            Link
          </a>
        </li>
        <li class="list-group-item">
          <a>
            Button
          </a>
        </li>
        <li class="list-group-item">
          <a (click)="createNewWidget('IMAGE')">
            Image
          </a>
        </li>
        <li class="list-group-item">
          <a (click)="createNewWidget('YOUTUBE')">
            YouTube
          </a>
        </li>
        <li class="list-group-item">
          <a>
            Data Table
          </a>
        </li>
        <li class="list-group-item">
          <a>
            Repeater
          </a>
        </li>
      </ul>
    </div>
    <!--Content on the Right, Main Column.-->
    <div class="col-sm-9 paddingWithNoTop moh-max-height small-top-Margin">
      <label>Name</label>
      <input class="form-control"
             type = "text"
             placeholder="Name of Widget"
             value = {{widget.widgetType}}>
      <label>Text</label>
      <input class="form-control"
             type="text"
             id="text"
             placeholder="Text regarding Widget"
             [(ngModel)] ="text" name ="text">
      <label>URL</label>
      <input type="url"
             id = "url"
             class='form-control'
             placeholder="https://youtu.be/xuzNvBWaPy0>"
             [(ngModel)] = "url" name = "url">
      <label>Width</label>
      <input type="text" class="form-control"
             placeholder="1-100%"
             id = "width"
             [(ngModel)] = "width" name = "width">
      <a class="btn btn-danger btn-block moh-top-margin"
         (click)="deleteThisWidget(widgetID)">Delete
      </a>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="returnToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
