<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--return mark-->
    <div class="navbar-brand pull-left">
      <a (click)="returnToPreviousSite()" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left blackText"></span>
      </a>
    </div>


    <!--heading on the nav bar-->
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="small-indent">Choose Widget</b>
      </a>
    </div>

  </div>
</nav>

<!--Below the banner content-->
<div class="container-fluid top-margin">
  <ul class="list-group borderless">
    <li class="list-group-item">
      <a (click)="createNewWidget('HEADING')">
        Header
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Label
      </a>
    </li>
    <li class="list-group-item">
      <a (click)="createNewWidget('HTML')">
        HTML
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Text Input
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Link
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Button
      </a>
    </li>
    <li class="list-group-item">
      <a (click)="createNewWidget('IMAGE')">
        Image
      </a>
    </li>
    <li class="list-group-item">
      <a (click)="createNewWidget('YOUTUBE')">
        YouTube
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Data Table
      </a>
    </li>
    <li class="list-group-item">
      <a>
        Repeater
      </a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a (click)="returnToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
