<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid bg-primary">

    <!--the left column-->
    <div class="col-sm-3">
      <div class="navbar-brand pull-left fixed">
        <a (click)="navigateToUsersWebsite()" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left whiteText"></span>
        </a>
      </div>

      <a class="navbar-brand thick hidden-xs">
        <b class="whiteText">Websites</b>
      </a>
      <div class="navbar-brand pull-right hidden-xs">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a (click)="navigateToWebsiteNew()" class="navbar-link fixPlease">
          <span class="glyphicon glyphicon-plus whiteText"></span>
        </a>
      </div>
    </div>

    <!--right column-->
    <div class="col-sm-9">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <a class="navbar-brand thick">
          <b class="indent whiteText">New Website</b>
        </a>
      </div>
      <div class="navbar-text pull-right">
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a (click)="createNewWebsite(name, description)" class="navbar-link">
          <span class="glyphicon glyphicon-ok whiteText"></span>
        </a>
      </div>
    </div>
  </div>
</nav>


<!--This is everything below the banner-->
<div class="bottomPadding moh-max-height moh-Margin-For-Two-Columns">
  <div class="row moh-max-height">
    <!--Content on the Left-->
    <div class="col-sm-3 hidden-xs moh-right-divider moh-max-height">
      <div class="paddingLeft small-top-Margin">
        <div *ngFor="let website of outputWebsitesForThisUser()" class='borderless'>
          <li class="list-group-item">
            <a (click)="navigateToPage(website._id)">
              {{website.name}}
            </a>
            <span (click)="navigateToWebsiteEdit(website._id)" class="glyphicon glyphicon-cog pull-right"></span>
          </li>
        </div>
      </div>
    </div>
    <!--Content on the Right, Main Column.-->
    <div class="list-group borderless paddingLeft">
      <div class="col-sm-9 paddingWithNoTop small-top-Margin">
        <label>Name</label>
        <input placeholder="Name"
               id = "name"
               [(ngModel)]="name"
               name="name"
               type="text"
               class="form-control"/>
        <label>Description</label>
        <textarea placeholder="Description"
                  rows="4"
                  type="text"
                  id = "description"
                  [(ngModel)]="description" name="description"
                  class="form-control"></textarea>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid bg-primary">
    <p class="navbar-text pull-right">
      <a (click)="returnToProfile()">
        <span class="glyphicon glyphicon-user whiteText"></span>
      </a>
    </p>

  </div>
</nav>
