<div class="container">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1 class = "top-margin">Register</h1>
  <input placeholder="username"
         [(ngModel)] = "userName"
         type="text"
         class="form-control"/>
  <input placeholder="password"
         [(ngModel)] = "password"
         type="password"
         class="form-control"/>
  <input placeholder="verify password"
         [(ngModel)] = "verifyPassword"
         type="password"
         class="form-control"/>
  <button class = 'btn btn-primary btn-block'
          (click)="registerNewUser(userName, password, verifyPassword)">Register</button>
  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']" >Cancel</a>

</div>
