<!--The banner-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <!--the left column-->
    <!--right column-->
    <div class = "container-fluid">
      <!--heading on the nav bar-->
      <div class="navbar-header pull-left ">
        <div class="navbar-brand pull-left fixed">
          <a class="navbar-link">
            <span (click)="returnToPreviousSite()" class="glyphicon glyphicon-chevron-left blackText"></span>
          </a>
        </div>
        <a class="navbar-brand thick">
          <b class="indent">Widget Edit</b>
        </a>
      </div>
        <!--Presumably in a future assignment,
        I will edit this glyphicon to add the result.-->
        <a class="navbar-link navbar-text pull-right fixed">
          <span (click)="updateWidgetImage(text, width, url)" class="glyphicon glyphicon-ok blackText"></span>
        </a>
      </div>
  </div>
</nav>

<!--This is the content below the banner-->

<div class= "bottomPadding moh-max-height moh-Margin-For-Two-Columns">
  <div class="row moh-max-height">
    <!--Content on the Left-->
    <!--Content on the Right, Main Column.-->
    <div class="paddingWithNoTop small-top-Margin">
      <label>Name</label>
      <input class="form-control"
             type = "text"
             placeholder="Name of Widget"
             value = {{widget.widgetType}}>
      <label>Text</label>
      <input class="form-control"
             type="text"
             id="text"
             placeholder="Text regarding Widget"
             [(ngModel)] ="text" name ="text">
      <label>URL</label>
      <input type="url"
             class='form-control'
             placeholder="https://res.cloudinary.com/demo/image/upload/sample.jpg"
             [(ngModel)] = "url" name = "url">
      <label>Width</label>
      <input type="text" class="form-control"
             placeholder="1-100%"
             id = "width"
             [(ngModel)] = "width" name = "width">
      <label>Upload</label>
      <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="widgetId" value="{{widgetID}}"   style="display: none"/>
        <input  name="websiteId" value="{{websiteID}}"   style="display: none"/>
        <input  name="pageId" value="{{pageID}}"   style="display: none"/>
        <input  name="userId" value="{{userID}}"   style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary"
        (click)="updateWidgetImage(text, width, url)">Upload Image</button>
        <br/>
      </form>
      <a class="btn btn-danger btn-block moh-top-margin"
         (click)="deleteThisWidget(widgetID)">Delete</a>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a>
        <span (click)="returnToProfile()" class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
